<app-nav></app-nav>
<div class="firstContainer">
    <div class="secondContainer">
        <div class="lista">
            <h2>Lista de tareas</h2>    
            
            <div *ngFor="let task of getTasksService.allTasks" cdkDropList (cdkDropListDropped)="dragAndDrop($event)"> 
                <div class="divTask" *ngIf="task.state === 'lista'" cdkDrag [cdkDragData]="task">
                    <h3>{{task?.name}}</h3>
                    <p>{{task?.deadline}}</p>
                    <p *ngFor="let user of task.member">{{user?.name + ' ' + user?.surname}}</p>
                </div>
            </div>

            <input type="text" *ngIf="mostrar === 'lista'" [(ngModel)]="newTaskToCreate.name">

            <button *ngIf="mostrar !== 'lista'" (click)="newTask('lista')">Añada una tarea</button>
            <button *ngIf="mostrar === 'lista'" (click)="createNewTask()">Añadir tarea</button>
            <button *ngIf="mostrar === 'lista'" (click)="newTask('')">X</button>
        </div>
        <div class="proceso">
            <h2>En proceso</h2>
            <div class="contenedor" >
                <div class="contenedor-tarea" cdkDropList (cdkDropListDropped)="dragAndDrop($event, 'en proceso')">

                </div>
            </div>
            <div *ngFor="let task of getTasksService.allTasks" cdkDropList (cdkDropListDropped)="dragAndDrop($event, 'en proceso')">
                <div class="divTask" *ngIf="task.state === 'en proceso'" cdkDrag [cdkDragData]="task">
                    <h3>{{task?.name}}</h3>
                    <p>{{task?.deadline}}</p>
                    <p *ngFor="let user of task.member">{{user?.name + ' ' + user?.surname}}</p>
                </div>
            </div>

            <input type="text" *ngIf="mostrar === 'proceso'" [(ngModel)]="newTaskToCreate.name">

            <button *ngIf="mostrar !== 'proceso'" (click)="newTask('proceso')">Añada una tarea</button>
            <button *ngIf="mostrar === 'proceso'" (click)="createNewTask()">Añadir tarea</button>
            <button *ngIf="mostrar === 'proceso'" (click)="newTask('')">X</button>
        </div>
        <div class="hecho">
            <h2>Hecho</h2>

            <div *ngFor="let task of getTasksService.allTasks" cdkDropList (cdkDropListDropped)="dragAndDrop($event)">
                <div class="divTask" *ngIf="task.state === 'hecho'" cdkDrag [cdkDragData]="task">
                    <h3>{{task?.name}}</h3>
                    <p>{{task?.deadline}}</p>
                    <p *ngFor="let user of task.member">{{user?.name + ' ' + user?.surname}}</p>
                </div>
            </div>

            <input type="text" *ngIf="mostrar === 'hecho'" [(ngModel)]="newTaskToCreate.name">

            <button *ngIf="mostrar !== 'hecho'" (click)="newTask('hecho')">Añada una tarea</button>
            <button *ngIf="mostrar === 'hecho'" (click)="createNewTask()">Añadir tarea</button>
            <button *ngIf="mostrar === 'hecho'" (click)="newTask('')">X</button>
        </div>
    </div>
</div>
