
<div class="container" id="appRoot" [style.backgroundImage]="getProjectService.containerBackgroundImage">
    <app-nav></app-nav>
    
    <div class="containerColors" *ngIf="showBackgroundMenu">
        <p id="titleBackgroundMenu">Change Background</p>
        <button id="closeBackgroundMenu" (click)="showBackgroundMenu = !showBackgroundMenu"></button>
        <div class="containerOptions">
            <div class="option" (click)="showImageDiv = !showImageDiv">
                <img src="https://th.bing.com/th/id/R.f527048ea1c002d78b6d5967ab45df31?rik=MCPBkF4%2bOL0wfw&pid=ImgRaw&r=0" alt="">
                <p>Photo</p>
            </div>
            <div class="option" (click)="showColorsDiv = !showColorsDiv">
                <img src="https://th.bing.com/th/id/OIP.4K4uvENULGgAnDBKAG933QHaEK?pid=ImgDet&rs=1" alt="">
                <p>Colors</p>
            </div>
        </div>
        <div class="containerOptionColors" *ngIf="showImageDiv">
            <div id="back" (click)="showImageDiv = !showImageDiv"></div>
            <p id="titleBackgroundMenu">Photo</p>
            <div  class="colors">
                <input id="fichero" type="file" (change)="onChangeBackground($event)">
                <label for="fichero" class="labelFile">Select a file</label>
                <img id="image" [src]="previewSource" alt="" *ngIf="previewSource">
                <button class="buttonSave" *ngIf="previewSource" (click)="saveBackgroundImage()">Save</button>
            </div>
        </div>
        <div *ngIf="showColorsDiv" class="containerOptionColors">
            <div id="back" (click)="showColorsDiv = !showColorsDiv"></div>
            <p id="titleBackgroundMenu">Colors</p>
            <hr>
            <div  class="colors">
                <span (click)="changeColor('linear-gradient(to bottom right, red, yellow)')" class="color clr1"></span>
                <span (click)="changeColor('linear-gradient(to bottom right, blue, green)')" class="color clr2"></span>
                <span (click)="changeColor('linear-gradient(to bottom right, yellow, green)')" class="color clr3"></span>
                <span (click)="changeColor('linear-gradient(to bottom right, yellow, red)')" class="color clr4"></span>
                <span (click)="changeColor('linear-gradient(to bottom right, blue, violet)')" class="color clr5"></span>
                <span (click)="changeColor('linear-gradient(to bottom right, pink, green)')" class="color clr6"></span>
            </div>
            <button id="buttonRemoveColor" (click)="changeColor('linear-gradient(to bottom right, rgb(236, 242, 245), rgb(236, 242, 245))')">Remove Color</button>
        </div>
    </div>
    <div class="firstContainer" id="hola">
        <div class="menu">
            <h1>{{getProjectService.project.projectName}}</h1>
            <div class="containerButtonsMenu">
                <button mat-raised-button (click)="openDialog('0ms', '0ms')">Share</button>
                
                <button class="openMenuColors" (click)="showBackgroundMenu = !showBackgroundMenu"></button>
            </div>
        </div>
        <div class="secondContainer" cdkDropListGroup>
            <div *ngFor="let list of listDivs" class="divList">
                <div class="containerMore" >
                    <button class="more" (click)="mostrar = list._id"></button>
                    <div class="divMore" *ngIf="mostrar === list._id" >
                        <button id="closeMore" (click)="mostrar = ''"></button>
                        <p>Actions</p>
                        <button (click)="mostrar = list.name">Add Task</button>
                        <button (click)="deleteList(list._id)">Remove List</button>
                    </div>
                </div>
                <h2 class="title">{{list.name}}</h2>
    
                <div class="containerTask"  cdkDropList [cdkDropListData]="list.tasks" (cdkDropListDropped)="drop($event, list)" [ngStyle]="getContainerTaskStyles(list.tasks)">
                    <div class="divTask" *ngFor="let task of list.tasks" cdkDrag (cdkDragStarted)="onDragStart(task)" (click)="openDialogTask(task._id)">
                        <div class="custom-placeholder" *cdkDragPlaceholder></div>
                        <h3 class="taskName">{{task?.name}}</h3>
                        <p id="deadline">{{task?.deadline}}</p>
                        
                    </div>
                </div>
                <div class="containerCreateNewTask">

                    <input class="inputCreateTask" type="text" placeholder="Inscribe a title" *ngIf="mostrar === list.name" [(ngModel)]="newTaskToCreate.name">
                    <div class="containerButtons">
                        <button class="add" *ngIf="mostrar === list.name" (click)="createNewTask()">Add task</button>
                        <button class="cancel" *ngIf="mostrar === list.name" (click)="newTask('')"></button>
                    </div>
                    <button class="buttonAddTask" *ngIf="mostrar !== list.name" (click)="newTask(list)">Add a task</button>
                </div>
    
            </div>
            <div class="containerAddNewList" *ngIf="newList === true">
                <input type="text"  [(ngModel)]="nameList" (blur)="newList = false" >
                <div class="containerButtons">
                    <button class="add" (click)="addNewList()">Add list</button>
                    <button class="cancel" (click)="newList = !newList"></button>
                </div>
            </div>
            <button class="buttonAddList" *ngIf="newList === false" (click)="newList = !newList"><img src="../../../../../assets/img/plusWhite.png" alt="Icono de plus"><span>Add other list</span></button>
        </div>
    </div>
   
</div>
