.saveButton {
    background-image: url(https://res.cloudinary.com/djdqwkavb/image/upload/v1693260046/save_gxcozv.png);
    background-repeat: no-repeat;
    background-size:18px;
    background-position: left;
    background-position-x: 5px;
    background-position-y: 3px;
    padding-left: 5px;
    color: #504f4f;
}

.join {
    background-image: url(https://res.cloudinary.com/djdqwkavb/image/upload/v1693260085/user_l3fzqa.png);
    background-repeat: no-repeat;
    background-size:17px;
    background-position: left;
    background-position-x: 5px;
    padding-left: 23.5px;
    color: #504f4f;
}

.label {
    background-image: url(https://res.cloudinary.com/djdqwkavb/image/upload/v1693260116/label_udnq1f.png);
    background-repeat: no-repeat;
    background-size:17px;
    background-position: left;
    background-position-x: 5px;
    padding-left: 23.5px;
    color: #504f4f;
}

.members {
    background-image: url(https://res.cloudinary.com/djdqwkavb/image/upload/v1693260169/member_xxhnkb.png);
    background-repeat: no-repeat;
    background-size:17px;
    background-position: left;
    background-position-x: 5px;
    padding-left: 23.5px;
    color: #504f4f;
}

.dateTask {
    background-image: url(https://res.cloudinary.com/djdqwkavb/image/upload/v1693260208/date_jgodze.png);
    background-repeat: no-repeat;
    background-size:17px;
    background-position: left;
    background-position-x: 5px;
    padding-left: 23.5px;
    color: #504f4f;
}

.delete {
    background-image: url(https://res.cloudinary.com/djdqwkavb/image/upload/v1693260237/delete_cztxlk.png);
    background-repeat: no-repeat;
    background-size:17px;
    background-position: left;
    background-position-x: 5px;
    padding-left: 23.5px;
    color: #504f4f;
}

.containerMembersInfo {
    position: relative;
}

.containerMembers {
    position: absolute;
    width: 210px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgb(36, 36, 36);
    height: fit-content;
    margin-top: 8px;
    border-radius: 5px;
    left: -42px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    z-index: 1;
}

.containerMembers div {
    width: 100%;
}

.member {
    cursor: pointer;
    height: 30px;
    font-size: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.member:hover {
    background-color: rgb(236, 242, 245);
}

.membersOnTask {
    cursor:pointer;
    height: 30px;
    font-size: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
}

.membersOnTask:hover {
    background-color: rgb(236, 242, 245);
}

.containerCalend {
    position: relative;
    
}

mat-card {
    margin-top: 5px;
    position: absolute;
    width: 230px;
    left: -60px;
    z-index: 1;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.divConfirmation {
    padding-top: 9px;
    padding-bottom: 9px;
    position: absolute;
    left: 24%;
    top: 34%;
    width: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(36, 36, 36);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards;
}

.divConfirmation div {
    display: flex;
    width: 90%;
    gap: 20px;
}

#question {
    font-weight: 600;
    font-size: 15px;
    margin: 0;
}

#warn {
    font-weight: 500;
    font-size: 12px;
    margin: 0;
}

#confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 167, 68);
    font-weight: 700;
    color: white;
}

#cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 85, 85);
    font-weight: 700;
    color: white;
}

.remove {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: red;
}

.containerProfile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    background-color: #2C97B9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    width: 30px;
    height: 30px;
    cursor:pointer;
    user-select: none;
    position: relative;
    top: -5px;
    color: white;
    text-shadow: 0 1px 2px rgb(31, 31, 31);
}