
#closeBackgroundMenu {
    position: absolute;
    right: 8px;
    top: 6px;
    border: none;
    width: 25px;
    height: 25px;
    background: none;
    background-image: url(https://res.cloudinary.com/djdqwkavb/image/upload/v1693260658/closeBlack_eptxlf.png);
    background-repeat: no-repeat;
    background-size:23px;
    background-position: left;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#buttonRemoveColor {
    margin-top: 40px;
    width: 200px;
    height: 35px;
    background-color: rgb(236, 242, 245);
    border: none;
    outline: none;
    border-radius: 7px;
    font-weight: 700;
    color: #504f4f;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgb(68, 68, 68);
}

#buttonRemoveColor:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s ease;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.option:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s ease;
}

.option p{
    margin: 0;
    font-size: 17px;
    font-weight: 500;
}

.option img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 6px;
}

#titleBackgroundMenu {
    font-weight: 600;
    font-size: 17px;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}


#fichero{
    display: none;
}

.labelFile{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    border-radius: 5px;
    width: 80%;
    height: 30px;
    font-weight: 500;
    background-color:  rgb(236, 242, 245);
    cursor: pointer;
    box-shadow: 0 1px 2px rgb(73, 73, 73);
    background-image: url(https://res.cloudinary.com/djdqwkavb/image/upload/v1693260696/upload_isjha6.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left;
}

.labelFile:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

#image {
    border-radius: 5px;
    width: 80%;
    height: fit-content;
    box-shadow: 0 1px 3px rgb(48, 48, 48);
}

#image:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.buttonSave {
    width: 80px;
    height: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 2px rgb(73, 73, 73);
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    background-color:  rgb(236, 242, 245);
}

.buttonSave:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.containerMembers {
    z-index: 1;
    position: absolute;
    right: 0;
    background-color: white;
    width: 280px;
    min-height: 100%;
    overflow-y: auto;
    box-shadow: -2px 1px 1px rgb(87, 87, 87);
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    animation:scale-up-horizontal-right 0.5s 
}

.profile {
    background-color: #2C97B9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    width: 30px;
    height: 30px;
    cursor:pointer;
    user-select: none;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0 1px 2px black;
}

.members {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.member {
    position: relative;

}

.member p {
    font-weight: 500;
    border-radius: 5px;
}

.containerProfile:hover {
    background-color: rgb(236, 242, 245);
    transition: 0.2s ease-in;
}

.member:hover .buttonRemoveMember {
    display: block;
    transition: 0.2s ease-in;
}

.containerProfile {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
    
}

.buttonRemoveMember {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 25%;
    background: none;
    border: none;
    background-image: url(https://res.cloudinary.com/djdqwkavb/image/upload/v1693260658/closeBlack_eptxlf.png);
    background-size: 23px;
    background-position: center;
    cursor: pointer;
    display: none;
    
}

.buttonRemoveMember:hover {
    transform: scale(1.09);
    transition: 0.2s ease-in;
}