<div class="container">
    <div class="containerForm">

        <form [formGroup]="loginFormDialog" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Email" formControlName="email">
            <input type="password" placeholder="Password" formControlName="password">
            <button>Sign in</button>
            <p id="messageInvalid" *ngIf="(user$ | async).message">Invalid email or password. Please check your credentials.</p>
        </form>
    </div>
    <div class="containerImage">
        <img src="https://res.cloudinary.com/djdqwkavb/image/upload/v1693260786/backLogin_vxolfh.png" alt="">
    </div>
</div>

