<mat-dialog-content>
    <button class="closeDialog" (click)="dialogRef.close()"></button>
    <div class="container">
        <div class="containerTitle">
            <h2>{{task?.projectId?.name}}</h2>
            <p>In list <b>{{task.state}}</b></p>
        </div>
        <div class="containerDescription">
            <div class="title" >
                <p id="titleDescription">Description</p>
                <button *ngIf="edit" class="editButton" (click)="edit = !edit">Edit</button>
                <button *ngIf="edit === false" class="saveButton" (click)="saveDescription()">Save</button>
            </div>
            <div class="description">
                <input *ngIf="edit === false || !task.description" type="text" placeholder="Add a more detailed description" [(ngModel)]="task.description" >
                <p *ngIf="edit">{{task.description}}</p>
            </div>
        </div>
        <div class="containerCommentsTitle">
            <div class="title" >
                <p id="titleComments">Comments</p>
                <button class="addComment" (click)="addComment()">Add</button>

            </div>
            <div class="description">
                <input type="text" placeholder="Leave a comment" [(ngModel)]="comment" value="comment">
            </div>
        </div>
        <div class="containerComments">
            <div class="userComment" *ngFor="let comment of task.coments">
                <div class="commentInfo">
                    <div>
                        <img src="../../../../../assets/img/logoTrello.png" alt="">
                    </div>
                    <div>
                        <p class="user">{{comment.userId.name}} {{comment.userId.surname}}</p>
                        <p class="date">{{comment.createdAt}}</p>
                    </div>

                </div>
                <div class="comment">
                    <p>{{comment.coment}}</p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="secondContainer">
        <p>Actions</p>
        <button class="join" (click)="addMember()">Join</button>
        <div class="containerMembersInfo">
            <button  class="members" (click)="showMembers = !showMembers">Members</button>
            <div *ngIf="showMembers" class="containerMembers">
                <div *ngFor="let user of projectService.project.member" (click)="addMember(user._id)">
                    <p class="member">{{user.name}} {{user.surname}}</p>
                </div>
            </div>
        </div>
        <div class="containerCalend">
            <button class="dateTask" (click)="showCalendar = !showCalendar">Change Due Date</button>
                <mat-card *ngIf="showCalendar" class="demo-inline-calendar-card">
                    <mat-calendar [(selected)]="selected" (click)="updateDeadline()"></mat-calendar>
                    <button class="remove" (click)="selected === null && updateDeadline()" >Remove</button>
                  </mat-card>
        </div>
        <div class="containerDelete">
            <button class="delete" (click)="showConfirmation = !showConfirmation">Delete</button>
            <div *ngIf="showConfirmation" class="divConfirmation">
                <p id="question">Are you sure you want to delete this? </p>
                <p id="warn">This action cannot be undone.</p>
                <div>
                    <button id="confirm" (click)="deleteTask()">Confirm</button>
                    <button id="cancel" (click)="showConfirmation = !showConfirmation">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
