mat-dialog-content {
    display: flex;
    min-height: 550px;
    height: fit-content;
    position: relative;
}

.container {
    height: fit-content;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.closeDialog {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 25px;
    height: 25px;
    background: none;
    background-image: url(../../../../../assets/img/close.png);
    background-repeat: no-repeat;
    background-size:25px;
    background-position: left;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.secondContainer {
    width: 30%;
    padding-left: 10px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 10px;
}

.secondContainer button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: rgb(236, 242, 245);
    border: none;
    outline: none;
    border-radius: 7px;
    font-weight: 500;
    color: #504f4f;
}

.secondContainer button:hover {
    cursor: pointer;
    transform: scale(1.07);
    transition: 0.2s ease-out;
}

.containerTitle {
    height: fit-content;
}

.containerTitle h2{
    font-size: 19px;
    margin: 0;
    color: black;
    font-weight: 500;
}

.containerTitle p {
    margin: 0;
    font-size: 14px;
}

.container b {
    color: black;
    font-weight: 500;
}

.containerDescription {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 10px;
    padding-left: 0;
    width: 100%;
    display: flex;
    gap: 20px;
}

.title p{
    margin: 0;
    padding-left: 25px;
    width: fit-content;
}

#titleDescription {
    background-image: url(../../../../../assets/img/description.png);
    background-repeat: no-repeat;
    background-size:26px;
    background-position: left;
}

#titleComments {
    background-image: url(../../../../../assets/img/comment.png);
    background-repeat: no-repeat;
    background-size:24px;
    background-position: left;
}

.title button {
    width: 80px;
    background-color: rgb(236, 242, 245);
    border: none;
    outline: none;
    border-radius: 7px;
    font-weight: 500;
}

.title button:hover {
    cursor: pointer;
    transform: scale(1.07);
    transition: 0.2s ease-out;
}

.description {
    width: 100%;
}

.description input {
    width: 100%;
    min-height: 60px;
    height: fit-content;
    border: 1px solid rgb(179, 179, 179);
    padding: 0;
    margin: 0;
    outline-color: rgb(145, 145, 145);
    border-radius: 5px;
    box-sizing: border-box;
    text-indent: 10px;
    vertical-align: top;
    position: relative;
    text-align: top;
    padding-bottom: 15px;
    
}

.containerCommentsTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.containerComments {
    width: 100%;
    height: fit-content;
    gap: 13px;
    margin-top: 10px;
}

.commentInfo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.commentInfo img {
    width: 30px;
    height: 30px;
    position: relative;
    top: -2px;
}



.user {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    width: fit-content;
    color: black;
}

.date {
    font-size: 11px;
    width: fit-content;
    position: relative;
    top: -9px;
    margin: 0;
}

.comment {
    width: 100%;
    min-height: 20px;
    font-size: 13px;
    height: fit-content;
    position: relative;
    top: -13px;
}

.comment p {
    margin: 0;
    color: black;
}

.userComment {

}

.addComment {
    background-image: url(../../../../../assets/img/plus.png);
    background-repeat: no-repeat;
    background-size:17px;
    background-position: left;
    background-position-x: 7px;
    background-position-y: 4px;
    padding-left: 5px;
    color: #504f4f;
}

.editButton {
    background-image: url(../../../../../assets/img/edit.png);
    background-repeat: no-repeat;
    background-size:21px;
    background-position: left;
    background-position-x: 5px;
    background-position-y: 1px;
    padding-left: 5px;
    color: #504f4f;
}

.saveButton {
    background-image: url(../../../../../assets/img/save.png);
    background-repeat: no-repeat;
    background-size:18px;
    background-position: left;
    background-position-x: 5px;
    background-position-y: 3px;
    padding-left: 5px;
    color: #504f4f;
}

.join {
    background-image: url(../../../../../assets/img/user.png);
    background-repeat: no-repeat;
    background-size:17px;
    background-position: left;
    background-position-x: 5px;
    padding-left: 23.5px;
    color: #504f4f;
}

.label {
    background-image: url(../../../../../assets/img/label.png);
    background-repeat: no-repeat;
    background-size:17px;
    background-position: left;
    background-position-x: 5px;
    padding-left: 23.5px;
    color: #504f4f;
}

.members {
    background-image: url(../../../../../assets/img/member.png);
    background-repeat: no-repeat;
    background-size:17px;
    background-position: left;
    background-position-x: 5px;
    padding-left: 23.5px;
    color: #504f4f;
}

.dateTask {
    background-image: url(../../../../../assets/img/date.png);
    background-repeat: no-repeat;
    background-size:17px;
    background-position: left;
    background-position-x: 5px;
    padding-left: 23.5px;
    color: #504f4f;
}

.delete {
    background-image: url(../../../../../assets/img/delete.png);
    background-repeat: no-repeat;
    background-size:17px;
    background-position: left;
    background-position-x: 5px;
    padding-left: 23.5px;
    color: #504f4f;
}

.containerMembersInfo {
    position: relative;
}

.containerMembers {
    position: absolute;
    width: 210px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgb(36, 36, 36);
    height: fit-content;
    margin-top: 8px;
    border-radius: 5px;
    left: -42px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    z-index: 1;
}

.containerMembers div {
    width: 100%;
}

.member {
    cursor: pointer;
    height: 30px;
    font-size: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.member:hover {
    background-color: rgb(236, 242, 245);
}

.membersOnTask {
    cursor:pointer;
    height: 30px;
    font-size: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
}

.membersOnTask:hover {
    background-color: rgb(236, 242, 245);
}

.containerCalend {
    position: relative;
    
}

mat-card {
    margin-top: 5px;
    position: absolute;
    width: 230px;
    left: -60px;
    z-index: 1;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.divConfirmation {
    padding-top: 9px;
    padding-bottom: 9px;
    position: absolute;
    left: 24%;
    top: 34%;
    width: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(36, 36, 36);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards;
}

.divConfirmation div {
    display: flex;
    width: 90%;
    gap: 20px;
}

#question {
    font-weight: 600;
    font-size: 15px;
    margin: 0;
}

#warn {
    font-weight: 500;
    font-size: 12px;
    margin: 0;
}

#confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 167, 68);
    font-weight: 700;
    color: white;
}

#cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 85, 85);
    font-weight: 700;
    color: white;
}

.remove {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: red;
}

.containerProfile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    background-color: #2C97B9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
    width: 30px;
    height: 30px;
    cursor:pointer;
    user-select: none;
    position: relative;
    top: -5px;
    color: white;
}