<nav>
    <div class="firstContainer">
        <h1>Trello</h1>
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
        </ul>

        <div class="containerCreate">
            <button (click)="show = !show">Crear</button>
            <div *ngIf="show === true" class="divCreate" >
                    <input type="text" [(ngModel)]="name" >
                    <button (click)="createNewProject()">Enviar</button>
            </div>
        </div>
    </div>
    <div class="secondContainer">
        <input type="text" placeholder="Buscar">
    </div>
</nav>
