<nav>
    <div class="firstContainer">
        <div class="containerLogo">
            <div class="h2" (click)="goBoardPage()">
                <img class="logo" src="https://imgs.search.brave.com/T-O_1Yx7NSO3kqLpwWxhYmQK5NMhE-CItBIF-mVU9K4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy81/ODQ4MmJlZWNlZjEw/MTRjMGI1ZTRhMzYu/cG5n" alt="">
                <h2>Boards</h2>
            </div>
            <div class="containerCreate">
                <button (click)="show = !show">Create</button>
                <div *ngIf="show === true" class="divCreate" >
                        <input class="inputCreate" type="text" [(ngModel)]="name" placeholder="Project name">
                        <button [disabled]="name.length === 0" (click)="createNewProject()">Crear</button>
                </div>
            </div>
        </div>

    </div>
    <div class="secondContainer">
        <div class="containerSearchBar">
            <input class="searchBar" type="text" placeholder="Search" [(ngModel)]="projectName" (input)="searchProject($event)" (focus)="showDiv()" (blur)="hideDiv()">
            
            <div *ngIf="showProjectsDiv" class="projects">

                <div id="project"  *ngFor="let project of projectsFiltered" (mousedown)="goProject(project._id)" >
                    <p>{{project.name}}</p>
                </div>
            </div>
        </div>
        <div class="containerProfile">
            <div class="profile" (click)="showUserMenu = !showUserMenu">
                {{user.userInitials}}
            </div>
            <div *ngIf="showUserMenu" class="userMenu">
                <p id="title">Account</p>
                <div class="containerAccount">
                    <div class="profile2">
                       {{user.userInitials}}
                    </div>
                    <div class="nameAndEmail">
                        <p>{{user.userName}}</p>
                        <p id="email">{{user.email}}</p>
                    </div>
                </div>
                <div class="containerButton">
                    <button (click)="logOut()">Log out</button>
                </div>
            </div>
        </div>
    </div>
</nav>
