

.firstContainer {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 1fr;
}

app-landing-nav {
    grid-column: 1 / 2;
}

.secondContainer {
    flex: 1;
    width: 100%;
    display: flex;
    grid-column: 1 / 2;
    background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0%;
    position: relative;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.svg {
position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Ancho del SVG al 100% de la página */
   /* Altura del SVG ajustada al alto del viewport */
  z-index: -1;
}

.div-reg {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    

}

.div-img {
    height: 100%;
    display: flex;
    align-items:flex-end;

}

.img-int {
    width: 600px;
}

.container-info {
    width: 75%;
    padding-top: 10%;
}

.container-info h2 {
    margin: 0;
    line-height: 1.5;
    font-size: 43px;
    color: white;
    font-family: var(--font-family-display,'Charlie Display',sans-serif);
}

.container-info p {
    font-size: 20px;
    color: white;
    font-family: var(--font-family-display,'Charlie Display',sans-serif);
}



.container-inputAndButton {
    margin-top: 35px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container-inputAndButton a{
    height: 100%;
    width: 33%;
}

.email {
    height: 100%;
    width: 60%;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    outline-color: rgb(226, 225, 225);
    border-radius: 7px;
    padding-left: 10px;
    font-size: 17px;
}

.email:hover {
    outline-color: white;
    transition: 1s ease;
}

.button-signup {
    height: 100%;
    width: 100%;
}

.openVideo {
    background: none;
    border: none;
    outline: none;
    text-decoration:underline;
    color: rgb(189, 187, 187);
    font-size: 16px;
    margin-top: 25px;
    display: flex;
    gap: 8px;
    align-items: center;
    width: 157px;
}

.openVideo:hover {
    cursor: pointer;
    color: white;
    gap: 13px;
    transition: 0.3s ease-out;
}
